body {
    font-size: 24px;
}
.green {
    color: blue;
}
.red {
    color: green;
}
.blue {
    color: red;
}
li.green {
    color: red;
}
li.red {
    color: blue;
}
li.blue {
    color: green;
}
ul ol li.red {
    color: cyan;
}
ul ol li.green {
    color: rgb(4, 188, 32);
}
ul ol li.blue {
    color: rgb(34, 0, 255);
}
p.italic {
    font-weight: italic;
}
p.bold {
    font-style: bold;
}